*{
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

section{
    background-color: rgb(208, 255, 208);
    border: 1px solid black;
    padding: 1rem;
}

section h2{
    margin: 0;
}

section.col-span-2{
    background-color: #ffd78e;
    grid-column: span 2;
}

section.row-span-2{
    background-color: rgb(160, 199, 199);
    color: white;
    grid-row: span 2;
}

section.column-start-3{
    grid-column-start: 3;
}
